header h3{
    font-size: 100;
    background-color: black;
    color: whitesmoke;
}
header h1{
     font-size: 80;
    background-color: white;
    color: black;
}
footer h2{
    font-size: 50;
    background-color: red;
    color: black;
}
body{
    background-color: rgba(2, 1, 34, 0.973);
}

img {
  height: 40px;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

section {
  padding-left: 25px;
  padding-right: 25px;
   font-size: 75;
    background-color: rgb(230, 215, 8);
    color: blueviolet;
}